 

<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3><%= listing.title %></b></h3>
    </div>
    <br><br>
    <div class=" col-6 offset-2" style="height: 100%; width: 15rem;">
            <img class="card-img-top show-img" 
            src="<%= listing.image.url %>" 
            alt="listing image" > <br><br>
            <div class="card-body">
                <p class="card-text" style="font-weight: bolder;  color:black;">
                    Owner: &nbsp;<%= listing.owner.username %> <br>
                    username:<%= listing.Name %></b><br>
                    Address:<%= listing.Address %><br>
                    Contact:<%= listing.contact%></b><br>
                    Location:<%= listing.location %></b><br>
                </p>
        </div>
    </div>
    <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
<div class="btns mt-4">
    <a href="/listings/<%= listing._id %>/edit"
    class="btn btn-dark col-1 offset-2">Update</a>

    <form method="post" action="/listings/<%=listing._id %>?_method=delete">
    <button class="btn btn-dark offset-5">Delete</button>
    </form>
</div>
<% } %>
